@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}

.frosted-glass {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

@variants hover, focus {
  .bg-dark-fade {
    background-color: rgba(0, 0, 0, 0.125);
  }
}
